<button
    class="card"
    onclick="openInfoModal(window.INFO_CONTENT.addiction)"
>

    <div class="card-top">

        <div class="icon">
            ◎
        </div>

        <div class="arrow">
            ›
        </div>

    </div>

    <div class="card-content">

        <h2>
            Addiction Is A Disease
        </h2>

        <p>
            Learn the signs of addiction,
            understand recovery,
            and access support resources.

            <span
                class="audio-icon"
                data-audio-id="cardAddiction"
            >
                🔉
            </span>
        </p>

    </div>

</button>