<button
    class="card"
    onclick="openEmergencyModal()"
>

    <div class="card-top">

        <div class="icon">
            ✚
        </div>

        <div class="arrow">
            ›
        </div>

    </div>

    <div class="card-content">

        <h2 data-i18n="cardEmergency">
            Emergency Help
        </h2>

        <p>
            <span data-i18n="cardEmergencyText">
                Call or text emergency support services immediately during overdose or crisis situations.
            </span>
            <span class="audio-icon" data-audio-id="cardEmergency">🔉</span>
        </p>

    </div>

</button>