<button
    class="card"
    onclick="openInfoModal(window.INFO_CONTENT.overdose)"
>

    <div class="card-top">

        <div class="icon">
            ⬣
        </div>

        <div class="arrow">
            ›
        </div>

    </div>

    <div class="card-content">

        <h2>
            Overdose Response
        </h2>

        <p>
            Recognize overdose symptoms,
            administer naloxone,
            and respond quickly in emergencies.

            <span
                class="audio-icon"
                data-audio-id="cardOverdose"
            >
                🔉
            </span>
        </p>

    </div>

</button>