<button
    class="card"
    onclick="openTreatmentModal()"
>

    <div class="card-top">

        <div class="icon">
            ✚
        </div>

        <div class="arrow">
            ›
        </div>

    </div>

    <div class="card-content">

        <h2 data-i18n="treatmentTitle">
            Treatment Finder
        </h2>

        <p data-i18n="treatmentDescription">
            Rhode Island detox, MAT,
            recovery programs,
            behavioral health services,
            and treatment support.
        </p>

        <span
            class="audio-icon"
            data-audio-id="cardTreatment"
        >
            🔉
        </span>

    </div>

</button>